
/ai.playground/neuralnet/neuralnet.4.5.resharper.user
/ai.playground/neuralnet/_ReSharper.neuralnet/CachesImage.bin
/ai.playground/neuralnet/_ReSharper.neuralnet/ProjectModel/ProjectModel.dat
/ai.playground/neuralnet/_ReSharper.neuralnet/TodoCache/.version
/ai.playground/neuralnet/_ReSharper.neuralnet/TodoCache/7/552fcc88.dat
/ai.playground/neuralnet/_ReSharper.neuralnet/WebsiteFileReferences/.version
/ai.playground/neuralnet/_ReSharper.neuralnet/WordIndex.New/.version
/ai.playground/neuralnet/_ReSharper.neuralnet/WordIndex.New/9/21d2ae17.dat
/ai.playground/neuralnet/_ReSharper.neuralnet/Xaml/CacheProvider.dat